<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>

    <h2>Ask Question</h2>

    <h3>"Do you have a"</h3>
   
    <ul class="list ">

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="visit.hasPermit.fw">
         </label>
         Fair Work Act Entry Permit?
      </li>
    </ul>

    <h2>Tips</h2>
    <ul class="list ">
      <li class="item item-icon-left item-text-wrap">
         Check whether the entry permit has expired
         <i class="icon ion-alert"></i>
      </li>
      <li class="item item-icon-left item-text-wrap">
         Check whether there are any conditions imposed on the entry permit
         <i class="icon ion-alert"></i>
      </li>
      <li class="item item-icon-left item-text-wrap item-icon-right" ng-click="launchInfo('fw-permit')">
         <i class="icon ion-alert"></i>
         The entry permit must be the original
         <i class="icon ion-chevron-right"></i>
      </li>

    </ul>


    <button ng-click="setPermits()" class="button button-block button-balanced">Next</button>

  </ion-content>
 </ion-view>
