<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>
 
    <h2>Check</h2>
    <h3>Did you receive 24 hours' written notice prior to entry?</h3>

    <h2>Tips</h2>

    <div class="list">
<!--       <div class="item item-text-wrap tip item-icon-left">
      <i class="icon ion-alert"></i>
        Union officials may hold discussions with both union members and potential union members
      </div>
 -->
      <div class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>Entry may only be exercised during breaks e.g. lunch or crib breaks
      </div>

      <div class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('notice-content-ir-discussions')">
        <i class="icon ion-alert"></i>
        The notice must be in writing and in the prescribed form
        <i class="icon ion-chevron-right"></i>
      </div>

    </div>

    <button ng-click="set24hrNoticeSupplied(true)" class="button button-block button-balanced">Yes, we received notice</button>

    <button ng-click="set24hrNoticeSupplied(false)" class="button button-block button-dark">Nope, no notice given</button>

   </ion-content>
 </ion-view>
