<ion-view title="Allow Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>During the discussion</h2>


    <h3>Remember that</h3>

    <h2>While on-site</h2>

    <ul class="list">
      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('powers-safety-discussions')">
        <i class="icon ion-alert"></i>
        Union officials can only talk with employees who wish to participate
        <i class="icon ion-chevron-right"></i>
      </li>

      <li class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Union officials can talk with both union members and non-union members
      </li>


      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to follow a reasonable safety direction (e.g. being escorted) or becomes threatening they should be asked to leave.  If they refuse, call the police and report trespass and/or any threatening behaviour.
      </li>


      <li class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Union officials cannot raise industrial relations matters without 24 hours' written notice
      </li>

      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('union-obligations')">
        <i class="icon ion-alert"></i>
        Union officials must not unreasonably disrupt work or act in an improper manner
        <i class="icon ion-chevron-right"></i>
      </li>


      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('employers-obligations')">
        <i class="icon ion-alert"></i>
        Employers must not unreasonably hinder or obstruct a union official
        <i class="icon ion-chevron-right"></i>
      </li>


    </ul>



    <button ng-click="goto('visit.gs-sign-out')" class="button button-block button-dark">Discussion complete</button>

    <!-- <button ng-click="save()" class="button button-block button-balanced">Ok, almost done!</button> -->



   </ion-content>

 </ion-view>
