<ion-view title="Take Notes"  left-buttons="leftButtons" animation="slide-in-up" ng-class="{'has-subfooter':showAudio}">
  <ion-content class="has-header"xhas-subheader>
    
      <form>

          <textarea id="notes" placeholder="Add Notes Here" style="" ng-model="visit.notes" focus-me ></textarea>
       
      </form>
    
      <button id="notes-button" ng-click="saveNotes()" class="button button-block button-positive">Done!</button>
    
   </ion-content>
 </ion-view>
