<ion-view listens-for-stop title="{{title}}">

  <ion-nav-buttons side="left">
      <button ui-sref="visits" class="button button-icon icon ion-ios-arrow-left left"> Home</button>

 </ion-nav-buttons>


  <ion-nav-buttons side="right">

      <button ng-click="share()" class="button button-icon icon ion-ios-upload-outline right"> Share</button>

  </ion-nav-buttons>

  <ion-content id="visit" class="summary">


	  <h2>Visit details</h2>

	  <div class="list">
	  	<div class="item item-text-wrap">
	  		{{visit.desc}}
	  	</div>
	  	<div class="item item-text-wrap">
	  		{{visit.formattedDate}}
	  	</div>
	  	<div class="item item-text-wrap">
	  		{{visit.location || 'Location not recorded'}}
	  	</div>
	  	<div class="item item-text-wrap">
	  		Officials: {{visit.names}}
	  	</div>
	  </div>



	  <h2>Entry was</h2>

	  <h3 ng-if="visit.allowedEntry" class="tint">Allowed</h3>
	  <h3 ng-if="visit.disallowedEntry" class="danger">Denied</h3>
	  <h3 ng-if="visit.unsureEntry" class="dark">Not specified</h3>




	  <h2>Reason for visit</h2>

	  <div class="list">
	  	<div ng-if="visit.type" class="item item-text-wrap">
	  		{{visit.visitType}}
	  	</div>
	  	<div ng-if="!visit.type" class="item item-text-wrap">
	  		No reason relating to Industrial Relations or Work Health and Safety was given
	  	</div>
	  </div>





	  <h2>Permits</h2>

	  <div class="list">

	  	<div class="item item-text-wrap" ng-if="has(visit.hasPermit.whs)">
	  		Entrants <b> did <span ng-if="!visit.hasPermit.whs"> not </span></b> have a WHS Act Permit
	  	</div>

	  	<div class="item item-text-wrap" ng-if="has(visit.hasPermit.fw)">
	  		Entrants <b> did <span ng-if="!visit.hasPermit.fw"> not </span></b> have a FW Act Permit
	  	</div>

	  	<div class="item item-text-wrap" ng-if=" !(has(visit.hasPermit.whs) || has(visit.hasPermit.fw))" >
	  		Permits not recorded
	  	</div>


	  </div>

	  <!-- <div>
		  <h2>Evidence of breach</h2>

		  <div class="list">
		  	<div class="item item-text-wrap">
		  		Entrants <b> did <span ng-if="!visit.identifySafetyBreach"> not </span></b> identify an existing safety breach
	  		</div>
		  </div>
		</div> -->

	  <h2>Notice of visit</h2>

	  <div class="list">
		  <div class="item item-text-wrap" ng-if="visit.type=='safety.breach' && has(visit.writtenNoticeSupplied)">
			  Entrants <b> did <span ng-if="!visit.writtenNoticeSupplied">not </span></b>provide written notice of a suspected safety breach
		  </div>
		  <div class="item item-text-wrap" ng-if="(visit.type!='safety.breach' && has(visit.twentyFourHoursNoticeSupplied))">
		  	Entrants <b> did <span ng-if="!visit.twentyFourHoursNoticeSupplied">not </span></b> provide notice of visit within 14 days and in advance of 24 hours
		  </div>

		  <div class="item item-text-wrap" ng-if="! ( has(visit.writtenNoticeSupplied) || has(visit.twentyFourHoursNoticeSupplied) )">
		  	Notice of visit not recorded
		  </div>

	  </div>


	  <div>
		  <h2>Visitor sign-in</h2>

		  <div class="list">
		  	<div class="item item-text-wrap" ng-if="has(visit.didSignIn)">
		  		Entrants <b> did <span ng-if="!visit.didSignIn"> not </span></b> sign in upon entering the site
	  		</div>
	  		<div class="item item-text-wrap" ng-if="!has(visit.didSignIn)">
		  		Sign-in not recorded
	  		</div>
		  </div>
		</div>


	  <div>
		  <h2>Visitor induction</h2>

		  <div class="list">
		  	<div class="item item-text-wrap" ng-if="has(visit.inductionComplied)">
		  		Entrants <b> did <span ng-if="!visit.inductionComplied"> not </span></b> comply with site induction requirements
	  		</div>
	  		<div class="item item-text-wrap" ng-if="!has(visit.inductionComplied)">
		  		Visitor induction not recorded
	  		</div>
		  </div>
		</div>

    <div>
      <h2>Visitor sign-out</h2>

      <div class="list">
        <div class="item item-text-wrap" ng-if="has(visit.didSignOut)">
          Entrants <b> did <span ng-if="!visit.didSignOut"> not </span></b> comply with instructions to sign out and left the site after investigation/discussions.
        </div>
        <div class="item item-text-wrap" ng-if="!has(visit.didSignIn)">
          Sign-out not recorded
        </div>
      </div>
    </div>

	  <h2>Recorded Notes</h2>

	  <div class="list">
		  <div class="item item-text-wrap" ng-if="!visit.notes || (visit.notes=='')">
				None recorded
		  </div>
		  <div class="item item-text-wrap" ng-if="visit.notes && (visit.notes != '')">
				<pre>{{visit.notes}}</pre>
		  </div>

	  </div>

	  <h2>Audio Recordings</h2>

	  <div class="list">
	  	<div ng-if="!visit.audios || (visit.audios.length < 1)" class="item">None recorded</div>
	  	<div ng-repeat="audio in visit.audios" class="item" >
	  		{{audio.filename}} - {{audio.timerDisplay}}
	  </div>

		<h2>Images Captured</h2>

		<div class="list">
			<div ng-if="!visit.images || (visit.images.length < 1)" class="item">None recorded</div>
			<div ng-repeat="image in visit.images" class="item item-thumbnail-left ">
				<img src="{{image.localPath}}" />
				<p> <b> {{image.name}}</b></p>
				<p>{{image.prettyDate}}</p>

			</div>
		</div>

	</ion-content>


</ion-view>
