<ion-view title="Before Entry"  left-buttons="leftButtons" ng-class="{'has-subfooter':showAudio}">
   <ion-content class="xhas-subheader" >


    <h2>Remember to</h2>
    <h3>Record important details!</h3>
    
    <h2>Tips</h2>
      <ul class="list ">

      <li class="item item-icon-left item-text-wrap">
         You can use the camera button below to take photographs
         <i class="icon ion-alert"></i>
      </li>
      <li class="item item-icon-left item-icon-right item-text-wrap" ng-click="launchInfo('recording')">
         <i class="icon ion-alert"></i>
         The microphone can be used to record conversations in certain circumstances
         <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item item-icon-left item-text-wrap">
         You can also record any further information using the note tool below
         <i class="icon ion-alert"></i>
      </li>

    </ul>

    <button ng-click="goto('visit.why')" class="button button-block button-dark">Next</button>

   </ion-content>
 </ion-view>
