
 <ion-view title="Visits">
   
  <ion-nav-bar>

    <ion-nav-buttons side="left">

    <!-- <button class="button button-icon icon ion-ios-information-outline"  ui-sref="info"> </button> -->
      <button class="button button-icon icon info ion-ios-information-outline icon-left" ui-sref="info({returnFrom:'info', returnTo:'visits', visitId:0})" > &nbsp; </button>

    </ion-nav-buttons>   
    
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-plus-empty"  ng-click="CreateVisit()"> Add</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div id="logos">
    <img src="img/logos_MBA_Grey.png" class="logo"  />
    <img src="img/logos_MVB_Grey.png" class="logo" />
  </div>

   <ion-content class="has-header"  padding="false">



      <ion-list id="visit-list">
        <ion-item ng-repeat="visit in visits | orderBy:'id':true track by $index" href="#/summary/{{visit.id}}">

              <h2>{{visit.desc}}</h2>

              <div class="status right" ng-class="{'allowed':visit.allowedEntry, 'disallowed':visit.disallowedEntry, 'unsure':visit.unsureEntry}">
                <i class="icon" ng-class="{'ion-checkmark':visit.allowedEntry, 'ion-close':visit.disallowedEntry, 'ion-help':visit.unsureEntry}"></i>
                
                <span class="allowed">Granted</span>
                <span class="disallowed">Denied</span>
                <span class="unsure">Unsure</span>

              </div>

              <br />
              <h3>{{visit.location}}</h3>
            
              
              <p class="date right">{{prettyDate(visit.date)}}</p>

              <ion-option-button class="button-positive" ng-click="resume(visit.id, visit.resumePath)">Resume</ion-option-button>
              <ion-option-button class="button-assertive" ng-click="confirmDelete(visit.id)">Delete</ion-option-button>
            
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-view>
