<ion-view listens-for-stop title="{{title}}">

<ion-nav-buttons side="left">
  <div ng-if="dontHideHomeBtn()">
    <button ng-click="save()" class="button button-icon icon ion-ios-arrow-left left"> Save</button>


  </div>
</ion-nav-buttons>

<ion-nav-buttons side="right">

  <button class="button button-icon icon ion-ios-information-outline icon-right" ng-click="launchInfo('info')" xui-sref="info({returnFrom:'info', returnTo:thisView(), visitId:visitId})" > </button>
</ion-nav-buttons>



  <div ui-view name="step" id="visit" class="has-footer" ></div>




  <div ng-if="showMedia">

    <div ng-if="showAudio">

      <div class="bar bar-subfooter ">
        <div class="col-20 pad-5 center">
          <button  ng-click="takeAudio()" class="audio button-balanced" ng-class="{'button':true, 'button-clear':true, 'icon':true, 'ion-record':!recording, 'ion-stop':recording, 'enabled':!playing}"></button>
        </div>
        <div class="col" style="display:-webkit-flex;">
          <div class="col-50 center">
            <div class="filename">
              {{audio.name}}
            </div>
          </div>
          <div class="col-50 center">
            <div class="timer x">
              {{audio.timerDisplay}}
            </div>
          </div>
        </div>
        <div class="col-20 pad-5 center">
          <button ng-click="playAudio()" class="audio button-balanced" ng-class="{'button':true, 'button-clear':true, 'icon':true, 'border-left':true ,'ion-play':!playing, 'ion-stop':playing, 'enabled':!recording}"></button>
        </div>

      </div>

    </div>


    <div class="bar bar-footer ">
      <div class="col center">
        <button ng-class="{'disabled':!hasBack()}" class="button button-clear button-balanced  icon  ion-ios-arrow-back "  ng-click="back()"></button>
      </div>
       <div class="col center">
        <button ng-class="{'disabled':!hasFwd()}"  class="button  button-clear button-balanced  icon ion-ios-arrow-forward  "  ng-click="fwd()"></button>
      </div>
      <div class="col center">
        <button ng-click="openAudio()" class="button button-clear icon button-balanced ion-ios-mic"></button>
      </div>
      <div class="col center">
        <button ng-click="takeNotes()" class="button button-clear icon button-balanced ion-ios-compose"></button>
      </div>
      <div class="col center">
        <button ng-click="takePicture()" class="button no-border button-balanced button-clear icon ion-ios-camera"></button>
      </div>

    </div>


  </div>

</ion-view>
