<ion-view title="Save Record" ng-class="{'has-subfooter':showAudio}" id="visit">



  <ion-content>
    
  <h2>It's recommended that you</h2>

  <h3 class="danger">Deny Entry</h3>

  <h2>
    Reason</h2>

  <h3 class="dark">
    {{reason}}
  </h3>




  <div ng-if="tips">

    <h2>Tips</h2>

    <ion-list>
      <ion-item ng-repeat="tip in tips" class=" item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        {{tip}}
      </ion-item>
    </ion-list>
  </div>


  <h2>Record</h2>
    <div class="list">
      <form>
        <label class="item item-input">
          <input type="text" placeholder="Description (optional)"  ng-model="visit.desc">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Name of union official(s)"  ng-model="visit.names">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location" ng-model="visit.location">
        </label>
        <label class="item item-input">
          <input type="datetime-local" placeholder="Date" ng-model="date">
        </label>
      </form>
      
    </div>



    <button ng-click="setDenied()" class="button button-block button-assertive">Entry Denied</button>
    <button ng-click="back()" class="button button-block button-dark">Go Back</button>




   </ion-content>
 </ion-view>
