

$dark:rgba(34,49,64,1);
$mid:rgba(166,145,132,1);
$faint:rgba(166,145,132,0.2);
$light:rgba(237,226,214,1);
$tint:rgba(0,134,227,1);
$danger:rgba(245,44,80,1);
$beige:rgba(236,227,218,1);



body{
  font-family: 'Avenir Next Condensed', 'Helvetica Neue', Helvetica, sans-serif;



}

button.audio.button-balanced{
  opacity:0.5;

  &.enabled{
    opacity:1;
  }
}

#logos{
 position:absolute;
 top:100px;
 width:100%;

  .logo{
    width:100%;
    height:auto;
    opacity:0.3;
    margin-top:-10px;
  }
}

.popup{
  .popup-title{
    color:$danger;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
  }


  .popup-buttons button{
    background-color:$danger;
    font-weight: 500;

    &.activated{
      background-color:rgba(255,64,100,1);
    }
  }

}


/******* info pages ******/

div.info{
  background: rgba(255,255,255,0.35);
  padding:30px 0;


  p{


      padding: 0 30px;
      font-size: 15px;
      font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      line-height: 18px;



  }

  img{
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
  }

}

/*****   resets  *******/

.item-content{
  background-color:$beige !important;
}

 .bar, .pane{
  background-color:rgba(255,255,255,0) !important;
}

.bar .buttons-left .info{
  // position: absolute;
  // top: 5px;
  // bottom: 5px;
  // left: 5px;
  text-align: left;

}

.item{
  background-color:rgba(255,255,255,0.3) !important;
  &.item-divider{
  background-color:rgba(0,0,0,0.1) !important;

  }

    color:#444 !important;

}

.nav-bar-container{
  background:none;
}

.pane{
  background-image: linear-gradient(165deg, rgb(218, 202, 187) 0%, rgb(239, 229, 217) 100%) !important;
}

.has-footer{
  .scroll-content{
    bottom:44px !important;
  }
}

.bar-header{
  .title{
    color:$mid;
    font-size:21px;
    font-weight:600;
  }

  .button{
    color:$tint;
  }
}

.checkbox input::before, .checkbox .checkbox-icon::before{
  border-color:$tint;

}




/****** content pages **********/

#visit{

  &.summary{
    h2 {margin-top:30px;}

    pre{font-size:16px;}
  }
  h2{
    width:100%;
    padding:0 20px;
    font-size: 21px;
    font-weight: 400;
    color:$mid;
    margin:20px 0 5px 0;
  }

  h3{
    // height:64px;
    width:100%;
    margin:5px 0px 20px 0px;
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
    padding:10px 20px;
    background-color:$tint;
    color:$light;
    line-height: 34px;
    vertical-align: middle;

    &.danger{
      background-color:$danger;
    }

    &.dark{
      background-color:$dark;
    }
  }

  .item{
    font-size:18px;
    padding-left: 20px;

    &.item-checkbox{
      padding-left:60px;
    }


    &.item-thumbnail-left{
      padding-top: 8px;
      padding-left: 106px;
      min-height: 100px;
    }


    &.item-icon-left{
      padding-left:54px;
      i{
        color:$mid;
        opacity: 0.3;
      }
    }
  }

  .list{
    margin-top:10px;
  }


  .button{



    &.button-block{
      margin:20px auto;
      display:block;
      width:280px;
    }
  }



  // has footer
  .scroll-content{
    bottom:44px !important;
  }

  .has-subfooter{
    .scroll-content{
      bottom:88px !important;
    }
  }

}


/******* notes modal  ***********/

textarea#notes{
  padding:20px;
  height: 210px;
  margin: 0px !important;
  background-color: rgba(255,255,255,0.7);
  border-radius:0px;
  color:$dark;
}


#visit button#notes-button{
  margin:10px auto;
}




/******** content screens  ***********/


#visit-list{

  .right{
    float:right;
    display:inline-block;
  }

  h2{
    font-weight:500;
    font-size:15px;
    color:$dark;
    display: inline-block;
  }

  h3{
    font-weight:400;
    font-size:15px;
    color:$mid;
    display: inline-block;
  }

  .date{
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
  }

  .status{
    width:55px;
    border-radius:3px;
    padding:0 6px;
    color:$light;
    font-size: 9px;
    font-weight: 400;

    .icon{

    }

    span{
      text-transform: uppercase;
      float:right;


    }

    &.allowed{
      background-color:$tint;
      span{
        &.allowed{display:inline-block}
        &.disallowed{display:none}
        &.unsure{display:none}

      }
    }

    &.disallowed{
      background-color:$danger;
      span{
        &.allowed{display:none}
        &.disallowed{display:inline-block}
        &.unsure{display:none}
      }
    }

    &.unsure{
      background-color:$dark;
      span{
        &.allowed{display:none}
        &.disallowed{display:none}
        &.unsure{display:inline-block}
      }
    }


  }

  .item-content{
    padding:16px !important;

  }

}



ul.bullets {
  list-style: disc;
  padding-left: 30px; }
  ul.bullets li {
    margin-bottom: 5px; }

.center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }




.item{
  p{
    font-size:16px;
  }
}

.theme{

  .filename, .timer{
    line-height: 40px;
  }

  &.platform-ios7{
    #status-bg{
      height:20px;
      width:100%;
      background:$dark;
      z-index:100;
      position:absolute;
    }

    .bar-header{

    }
  }

  .has-footer{
    .scroll{
      padding-bottom:45px;
    }
  }

  .bar{
    padding:0px !important;

    div{
      padding:0px !important;
      xborder:1px solid rgba(255,255,255,0.1);
      box-sizing:border-box !important;
    }


    .right-buttons{
      right:0px;
      top:0px;
      bottom:0px;
    }

    .button-full{
      margin:0px;
    }

    .left{
      text-align:left;
      padding-right:0px;
    }


    .right{
      text-align:right;
      padding-left:0px;
    }


    &.bar-header  {
      button{
        width:80px;
        font-weight:500;
      }
    }

    &.bar-subheader{
      border-top:1px solid $faint;

    }

    &.bar-footer, &.bar-subfooter{
      border-top:1px solid $faint;
      border-bottom:0px solid transparent;
      button{
        width:100%;
      }
    }

  }



  button, a.button{
    border-width:0px !important;
    xborder-right:1px solid #fff !important;
    height:42px;
    line-height:42px;
    opacity:1;

    &.disabled{
      opacity:0.2;
    }

    &.no-border{
      border:none !important;
    }

    &.border-left{
      xborder-left:1px solid #fff !important;
      border-right-width:0px !important;
    }
  }





}
