<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >




    <h2>During the inspection</h2>


    <h3>Remember that</h3>

    <h2>While on-site</h2>

    <ul class="list ">

      <li class="item item-icon-left item-text-wrap item-icon-right" ng-click="launchInfo('powers-safety-records')">
         <i class="icon ion-alert"></i>
         Union officials can only inspect or make copies of the employee records which directly relate to the suspected safety breach
         <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Employee records include any information that could identify an employee (e.g. induction and training records)
      </li>

      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to follow a reasonable safety direction (e.g. being escorted) or becomes threatening they should be asked to leave.  If they refuse, call the police and report trespass and/or any threatening behaviour.
      </li>


      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('union-obligations')">
        <i class="icon ion-alert"></i>
        Union officials must not unreasonably disrupt work or act in an improper manner
        <i class="icon ion-chevron-right"></i>
      </li>


      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('employers-obligations')">
        <i class="icon ion-alert"></i>
        Employers must not unreasonably hinder or obstruct a union official
        <i class="icon ion-chevron-right"></i>
      </li>




    </ul>


    <!-- <button ng-click="save()" class="button button-block button-balanced">Ok, almost done!</button> -->
    <button ng-click="goto('visit.er-sign-out')" class="button button-block button-dark">Investigation complete</button>


  </ion-content>
 </ion-view>
