<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >



    <h2>Assisting the HSR</h2>

    <h3>“Let’s talk to the HSR”</h3>



    <h2>While on-site</h2>

    <ul class="list ">

      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        The union official/other representative may assist the HSR in exercising their powers or functions
      </li>

      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to follow a reasonable safety direction (e.g. being escorted) or becomes threatening they should be asked to leave.  If they refuse, call the police and report trespass and/or any threatening behaviour.
      </li>

      <li class="item item-icon-left item-icon-right item-text-wrap" ng-click="launchInfo('union-obligations')">
         <i class="icon ion-alert"></i>
         Union officials must not unreasonably disrupt work or act in an improper manner
         <i class="icon ion-chevron-right"></i>
      </li>


    </ul>


    <button ng-click="goto('visit.hsr-sign-out')" class="button button-block button-dark">Investigation complete</button>

    <!-- <button ng-click="save()" class="button button-block button-balanced">Next</button> -->

  </ion-content>
 </ion-view>
