<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >



    <h2>Allow Entry</h2>

    <h3>“Please sign-in”</h3>
    


    <h2>Tip</h2>
    
    <ul class="list ">

      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Escort the requested union official / other representative to the site shed for induction / sign-in
      </li>



    </ul>


    
    <button ng-click="setSignedIn(true)" class="button button-block button-balanced">Signed-in</button>


    <button ng-click="setSignedIn(false)" class="button button-block button-dark">Did not sign-in</button>

    
  </ion-content>
 </ion-view>
