<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >



    <h2>Remember to</h2>

    <h3>"Consider site induction"</h3>
    
    

    <h2>Tips</h2>
    
    <ul class="list ">

      <li class="item item-icon-left item-text-wrap" >
         <i class="icon ion-alert"></i>
         As with all visitors, employers should consider requiring union officials to undergo a site induction
      </li>
      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Union officials must follow reasonable safety commands (e.g. site induction) otherwise they can be removed from site
      </li>
      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Depending on the circumstances, consider skipping this step (e.g. in an emergency or if the union official has already done an induction)
      </li>
    </ul>


    <button ng-click="setInduction(true)" class="button button-block button-balanced">Completed/Skipped</button>


    <button ng-click="setInduction(false)" class="button button-block button-dark">Refused Induction</button>

  </ion-content>
 </ion-view>
