
 <ion-view title="Info">
   
    

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>  
      

   <ion-content class="has-header" id="visit" padding="false">

    <div class="info">
      <h3>Permit holder's duties</h3>

      <p>
        A union permit holder must follow all reasonable requests in relation to work health and safety (e.g. site induction, escort along a safe route, monitoring – though this would not allow the PCBU to eavesdrop on meetings/interviews between the union permit holder and workers) (FW Act, section 499). A union permit holder may be removed from site for a failure to comply with a reasonable safety request.
      </p>
      <p>
        A union permit holder must not intentionally hinder or obstruct any person or disrupt any work, or otherwise act in an improper manner (FW Act, section 500; WHS Act, section 146). However, a breach will generally not allow removal from site except in extreme cases. If there is violence or even the threat of violence then union permit holders should be removed from site and compaints made to the relevant authorities.
      </p>
      
    </div>


    </ion-content>
  </ion-view>
