
 <ion-view title="Records">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

      <h3>Employee Records</h3>

    
    <ion-list id="visit-list">
    
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where a union official enters to inspect employee records, they can enter at any time during working hours
        
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Remember that union officials must provide 24 hours’ written notice to inspect employee records.  Entry should only be exercised on the date specified in the entry notice.
        
      </a>
    </ion-list>



  </ion-content>
</ion-view>
