
 <ion-view title="Discussions">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Safety Discussions</h3>


    <ion-list id="visit-list">
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where a union official enters to consult with workers about safety, they can enter at any time during working hours  
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Remember that union officials must provide 24 hours’ written notice to enter to consult with workers about safety.  Entry should only be exercised on the date specified in the entry notice. Employers should also request the officials to attend at a time that they nominate, to minimise disruption.  
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to enter at the time requested by the employer, they will still have a right to enter, but a complaint may be made to WorkSafe ACT and / or Fair Work Building and Construction that the official was unreasonably disrupting work
.      </a>

    </ion-list>


  </ion-content>
</ion-view>
