
 <ion-view title="Employee Records">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

      <h3>When is notice required?</h3>

    
    <ion-list id="visit-list">
    

      <a class="item item-icon-left item-text-wrap">
        Where a union official enters a site to inspect employee records, they must provide 24 hours’ written notice prior to entry
        <i class="icon ion-alert"></i>
      </a>
    </ion-list>



  </ion-content>
</ion-view>
