
 <ion-view title="Safety Breach">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Entry notice requirements</h3>

	<ion-list id="visit-list">
    

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        The entry notice should be in writing and contain the following details:
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the full name of the union official;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the name of the union the union official represents;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the section of the Work Health and Safety Act under which entry is sought;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the name and address of the workplace to be entered; 
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the date of entry or proposed entry;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        the particulars of the suspected breach, as far as is practicable;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        a declaration stating that the union is entitled to represent a worker at the workplace who is a member or potential member of the union;
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        reference to the provision in the union’s rules allowing for such membership; and
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-checkmark-empty"></i>
        a declaration that the suspected breach relates to that worker
      </a>

      <a class="item item-icon-left item-text-wrap">
      	<i class="icon ion-alert"></i>
      	Remember that the notice does not have to be provided prior to entry, but only as soon as is reasonably practicable after entry, or not at all in an emergency
      </a>

    </ion-list>



  </ion-content>
</ion-view>
<!-- 

o	
o	
o	
o	
o	
o	
o	
o	
o	
! 
 -->


