
 <ion-view title="Notice">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>When is notice required?</h3>

    <ion-list id="visit-list">
      <div class="item item-divider" >
        Safety:
      </div>

      <a class="item item-icon-right" ng-click="goFwd('notice-when-safety')">
        Safety breach
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-when-records')">
        Employee records
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-when-safety-discussions')">
        Worker discussions
        <i class="icon ion-chevron-right"></i>
      </a>


      <!-- <a class="item item-icon-right" ng-click="goFwd('notice-when-hsr')">
        Assist a health and safety rep
        <i class="icon ion-chevron-right"></i>
      </a> -->

       <div class="item item-divider">
        Industrial relations:
      </div>

      <a class="item item-icon-right" ng-click="goFwd('notice-when-ir')">
        Suspected breach
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-when-discussions')">
        Worker discussions
        <i class="icon ion-chevron-right"></i>
      </a>
    </ion-list>

  </ion-content>
</ion-view>
