
 <ion-view title="Safety Breach">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

      <h3>When is notice required?</h3>

    
    <ion-list id="visit-list">
    

      <a class="item item-icon-left item-text-wrap">
        Where a union official enters a site to investigate a suspected safety breach, no notice is required prior to entry
        <i class="icon ion-alert"></i>
      </a>


      <a class="item item-icon-left item-text-wrap">
        Notice of the suspected breach must be provided as soon as practicable <b>after entry</b>, e.g. after the union official has signed in
        <i class="icon ion-alert"></i>
      </a>


      <a class="item item-icon-left item-text-wrap">
        Remember, no notice at all is required in an emergency
        <i class="icon ion-alert"></i>
      </a>


    </ion-list>



  </ion-content>
</ion-view>
