
 <ion-view title="Discussions">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>When is notice required?</h3>


    <ion-list id="visit-list">
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where a union official enters a site to hold discussions with workers about industrial relations issues, 24 hours’ written notice is required

      </a>
    </ion-list>



  </ion-content>
</ion-view>
