
 <ion-view title="WorkSafe ACT">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>  

   <ion-content class="has-header" id="visit" padding="false">

    <div class="info">
      <h3>
        WorkSafe ACT recommends that entry notices be similar to the following form:
      </h3>

      <img src="img/ws-notice.png" />
      
    </div>
    </ion-content>
  </ion-view>
