
 <ion-view title="Permits">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Example Permits</h3>

    <ion-list id="visit-list">
    
      <a class="item item-icon-right" ng-click="goFwd('whs-permit')">
        WHS Act entry permit
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('fw-permit')">
        Fair Work Act entry permit
        <i class="icon ion-chevron-right"></i>
      </a>

    </ion-list>

  </ion-content>
</ion-view>
