
 <ion-view title="Powers">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Safety – Suspected Breach </h3>

    <ion-list id="visit-list">
    

      <a class="item item-divider">
        Powers to inspect

      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can inspect any work system, plant, substance, structure or thing relevant to the suspected breach  
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials are also able to consult with workers and relevant employers about the suspected breach 
      </a>
      <a class="item item-divider">
        Power to warn
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can warn a person to stop work where they reasonably believe them to be exposed to an imminent and serious safety risk.  However, union officials cannot ‘shut down’ a site, only WorkSafe ACT inspectors can via prohibition notices. 
      </a>
      <a class="item item-divider">
        Access to documents
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can inspect and make copies of any documents directly relevant to a suspected breach which are kept at or are accessible from the premises (e.g. via a computer)  
      </a>
      <a class="item item-divider">
        Employee records
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official seeks to inspect or copy ‘employee records’, i.e. information that could identify an employee (e.g. induction or training records) then 24 hours’ written notice is required
      </a>
      <a class="item item-divider">
        Documents held off-site
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where relevant documents are only accessible off-site, the union official may enter any workplace in order to access and copy those documents, but 24 hours’ written notice is required 
      </a>

    </ion-list>


  </ion-content>
</ion-view>
