

 <ion-view title="Powers">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Safety – Worker Discussions</h3>

    <ion-list id="visit-list">
       
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can consult with workers (with only with their consent) about safety issues 
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can warn a person to stop work where they reasonably believe them to be exposed to an imminent and serious safety risk.  However, union officials cannot ‘shut down’ a site, only WorkSafe ACT inspectors can (via prohibition notices) 
      </a>

    </ion-list>


  </ion-content>
</ion-view>
