
 <ion-view title="Powers">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Industrial Relations – Breach</h3>

    <ion-list id="visit-list">
       
      <a class="item item-divider">
        Powers to Inspect
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can inspect any work, process or object relevant to the suspected breach 
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials are also able to interview any workers (but only with their consent) about the suspected breach  
      </a>
	  <a class="item item-divider">
		Access to documents
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials can inspect and make copies of any documents relevant to a suspected breach which are kept at or are accessible from the premises (e.g. via a computer) 
      </a>
	  <a class="item item-divider">
		Employee records
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Remember that only union members’ employee records can be accessed
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        It is unlawful to ask employees whether they are union members.  Where an employer is unsure about whether they employ any union members, they should ask the union official to seek the consent of any union members to have such information revealed. 
      </a>
	  <a class="item item-divider">
		Documents held off-site
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where relevant documents are only accessible off-site, the union official must provide 24 hours’ written notice to the employer requiring them to provide access to the documents, either at the original premises entered or at a place agreed between the employer and the union official.
      </a>

    </ion-list>


  </ion-content>
</ion-view>
