
 <ion-view title="Powers">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Industrial Relations – Discussions</h3>

    <ion-list id="visit-list">
       
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
		Union officials can hold discussions with workers (but only with their consent) about industrial relations issues (e.g. enterprise bargaining and union membership)
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials should be provided with a reasonable place to hold discussions. If there is a dispute about the location the default location is the lunch room
      </a>

    </ion-list>


  </ion-content>
</ion-view>
