
<ion-view title="Advice">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>

  </ion-nav-buttons>   


  <ion-content class="has-header" id="visit" padding="false">




    <h3>Recording union officials’ behaviour</h3>

    <h2>Note</h2>

    <ion-list id="visit-list">

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Members are encouraged to carefully document permit holders’ behaviour 
      </div>


      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Remember that this app can take photos and record conversations.  It also allows you to take notes
      </div>


      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        It is a criminal offence to record a private conversation unless the recording is necessary for the protection of a person’s lawful interests, e.g. where an employer may be threatened or intimidated
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Private conversations can also be recorded with the participant's consent
      </div>


    </ion-list>

  </ion-content>
</ion-view>
