
 <ion-view title="Advice">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>

  </ion-nav-buttons>   

   <ion-content class="has-header" id="visit" padding="false">

    <h3>Safety Walks</h3>

      <ion-list id="visit-list">

        <a class="item item-icon-left item-text-wrap" >
          <i class="icon ion-alert"></i>
          A union official is not entitled to conduct a general site ‘safety walk’
        </a>
        <a class="item item-icon-left item-text-wrap" >
          <i class="icon ion-alert"></i>
          A union official can only investigate the safety breach(es) which they notify to the employer as soon as possible after entry (except in emergencies, when no notice is required) 
        </a>
        <a class="item item-icon-left item-text-wrap" >
          <i class="icon ion-alert"></i>
          If a union official notices a further potential safety breach while investigating the notified safety breach, then it may be prudent to allow the union official to investigate that additional matter
        </a>
        <a class="item item-icon-left item-text-wrap" >
          <i class="icon ion-alert"></i>
          However, if a ‘string’ of alleged safety breaches is identified to the extent that a union official appears to be intentionally disrupting work, then the union official should be asked to finalise their investigation of the original notified safety breach and leave the site
        </a>

      </ion-list>

    </ion-content>
  </ion-view>
