
 <ion-view title="Unions">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Union officials' obligations on-site</h3>


    <ion-list id="visit-list">
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials must not unreasonably disrupt work or act in an improper manner
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to comply with these standards, the union can be fined up to $51,000 
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Union officials must also comply with any reasonable safety direction, e.g. being escorted along a safe route through a site, signing-in and signing-out and undergoing induction.  They must also show their entry permits upon request.
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to follow a reasonable safety direction, becomes threatening or fails to show their entry permit, they should be asked to leave.  If they refuse, call the police and report trespass and/or any threatening behaviour.
      </a>

    </ion-list>



  </ion-content>
</ion-view>
