

 <ion-view title="Advice">

<!--   <ion-nav-buttons side="left">
    <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="back()"> Back</button>
  </ion-nav-buttons>   
 -->      

    <ion-header-bar>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left left" ng-click="closeInfoDetail()">Back</button>
      </div>
      <h1 class="title">Locations</h1>
      
    </ion-header-bar>


  <ion-content class="has-header" id="visit" padding="false">





      <ion-list id="visit-list">

          <div class="item item-divider">
            You can call:
          </div>

          <a class="item item-icon-right" href="tel://1800 003 338">
            <span>Fair Work Building &amp; Construction </span>
            <i class="icon ion-ios-telephone-outline"></i>
          </a>

          <a class="item item-icon-right" href="tel://(02) 6207 3000">
            <span>WorkSafe ACT</span>
            <i class="icon ion-ios-telephone-outline"></i>
          </a>

          <a class="item item-icon-right" href="tel://(02) 6280 9119">
            <i class="icon ion-ios-telephone-outline"></i>
            <span>Master Builders Association of the ACT</span>
            
          </a>

           <div class="item item-divider">
            More information online:
          </div>

          <a class="item item-icon-right" href="http://www.safeworkaustralia.gov.au/sites/SWA/AboutSafeWorkAustralia/WhatWeDo/Publications/Pages/Interpretive-Guideline-workplace-entry.aspx">
            <span>Safe Work Australia </span>
            <i class="icon ion-earth"></i>
          </a>

          <a class="item item-icon-right" href="http://www.fwbc.gov.au/right-of-entry">
            <span>Fair Work Building &amp; Construction </span>
            <i class="icon ion-earth"></i>
          </a>

          <a class="item item-icon-right" href="http://www.legislation.act.gov.au">
            <span>ACT Legislation &mdash; Copies of the WHS Act and Regs</span>
            <i class="icon ion-earth"></i>
          </a>



      </ion-list>

    </ion-content>
  </ion-view>
