<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >



    <h2>Ask Question</h2>

    <h3>“Did a HSR request your assistance?”</h3>

    
    <h2>Tips</h2>
    
    <ul class="list ">

      <li class="item item-icon-left  item-text-wrap">
         <i class="icon ion-alert"></i>
         Any person may assist an HSR
      </li>
      <li class="item item-icon-left  item-text-wrap">
         <i class="icon ion-alert"></i>
         The HSR must have been validly elected by a majority of the group of workers they represent in order to invite union officials on-site 
         
      </li>
      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Union officials can enter to assist with the election of HSRs, where a majority of the group of workers to be represented by the HSR agree 
      </li>
      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Union officials can enter to assist with determining which group of workers will be represented by a HSR, following the request of a worker 
      </li>

      <li class="item item-icon-left item-text-wrap">
         <i class="icon ion-alert"></i>
         Union officials can enter sites to assist with the resolution of health and safety issues where requested by a HSR or (if there is no HSR) a worker
      </li>


    </ul>


    <button ng-click="setAssistanceRequested(true)" class="button button-block button-balanced">Yes, requested</button>
    
    <button ng-click="setAssistanceRequested(false)" class="button button-block button-dark">Not requested</button>

  </ion-content>
 </ion-view>
