<ion-view title="Upon Entry" ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>Ask Question</h2>

    <h3>"Do you have written notice of the suspected safety breach?"</h3>


    <h2>Tips</h2>

    <ul class="list">
      <li class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Notice of the suspected safety breach must be provided as soon as practicable <b> after</b>  entry
      </li>
      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('notice-content-safety')">
        <i class="icon ion-alert"></i>
        The notice should be in writing and must contain prescribed content
        <i class="icon ion-chevron-right"></i>
      </li>
    </ul>


      <button ng-click="setWrittenNoticeSupplied(true)" class="button button-block button-balanced">Notice provided</button>
      <button ng-click="setWrittenNoticeSupplied(false)" class="button button-block button-dark">Notice not provided</button>
      
   </ion-content>
 </ion-view>
