<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>Check</h2>
    <h3>Are there multiple permit holders?</h3>


    <h2>If there are multiple permit holders</h2>
    
    <ul class="list">
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>How many visitors can be safely escorted under your site safety management plan?</li>
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>If there is a dispute about number of visitors, call WorkSafe ACT</li>
      
    </ul>




      <button ng-click="goto('visit.written-notice')" class="button button-block button-balanced">Ok, next!</button>




   </ion-content>
   
 </ion-view>
