<ion-view title="Be Careful"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>It is recommended that you</h2>
      <h3>Call WorkSafe ACT to mediate!</h3>

      
      <h2>Tips</h2>
      <div class="list">
      	<div class="item item-icon-left item-text-wrap">
            <i class="icon ion-alert"></i>
            Notice is not required in an emergency
        </div>
        <div class="item item-icon-left item-text-wrap item-icon-right" ng-click="launchInfo('employers-obligations')">
            <i class="icon ion-alert"></i>
            Fines can be imposed on an employer that unreasonably hinders or obstructs a union official
            <i class="icon ion-chevron-right"></i>
        </div>
        <div class="item item-icon-left item-text-wrap">
            <i class="icon ion-alert"></i>
            WorkSafe ACT’s emergency contact number is: 0419 120 028
        </div>
      </div>
      
      <button ui-sref="visit.written-notice" class="button button-block button-dark">Ok!</button>

   </ion-content>
 </ion-view>
