<ion-view title="Allow Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>During the investigation</h2>


    <h3>"Let’s go to the suspected safety breach"</h3>


    <h2>While on-site</h2>

    <ul class="list">

      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('powers-safety-breach')">
        <i class="icon ion-alert"></i>
        Union officials can only investigate the notified safety breach(es)
        <i class="icon ion-chevron-right"></i>
      </li>


      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('safety-walks')">
        <i class="icon ion-alert"></i>
        Union officials cannot go on general site safety walks
        <i class="icon ion-chevron-right"></i>
      </li>


      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        If a union official fails to follow a reasonable safety direction (e.g. being escorted) or becomes threatening they should be asked to leave.  If they refuse, call the police and report trespass and/or any threatening behaviour.
      </li>


      <li class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Union officials cannot inspect employee records or raise IR issues without 24 hours' written notice
      </li>

      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('union-obligations')">
        <i class="icon ion-alert"></i>
        Union officials must not unreasonably disrupt work or act in an improper manner
        <i class="icon ion-chevron-right"></i>
      </li>


      <li class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Union officials cannot 'shut down' a site &mdash; only WorkSafe ACT can
      </li>

      <li class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('employers-obligations')">
        <i class="icon ion-alert"></i>
        Employers must not unreasonably hinder or obstruct a union official
        <i class="icon ion-chevron-right"></i>
      </li>

    </ul>


    <button ng-click="goto('visit.sign-out')" class="button button-block button-dark">Investigation complete</button>
    <!-- <button ng-click="save()" class="button button-block button-dark">Ok, almost done!</button> -->



   </ion-content>

 </ion-view>
