<ion-view title="Before Entry" ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>



    <h2>Ask Question</h2>

    <h3>"Can you identify a suspected safety breach?"</h3>
    
    <br /> &nbsp;
    <br /> &nbsp;


    <button ng-click="setIdentifySafetyBreach(true)" class="button button-block button-balanced">Yes, they can</button>

    <button ng-click="setIdentifySafetyBreach(false)" class="button button-block button-dark">No, they can't</button>

    


   </ion-content>
   
 </ion-view>
