 <ion-view title="Info">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> 
        Back
      </button>
    </ion-nav-buttons>   
  </ion-nav-bar>

   <ion-content class="has-header" id="visit" padding="false">

      <ion-list id="visit-list">
          <a class="item item-icon-right" ng-click="goFwd('advice')">
            <span>Who to call for help or advice</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('permits')">
            <span>Examples of union entry permit</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>


          <a class="item item-icon-right" ng-click="goFwd('notice-when')">
            <span>When is an entry notice required?</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('notice-content')">
            <span>Prescribed content of entry notices</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('entry-when')">
            <span>When can union officials enter a site?</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('employers-obligations')">
            <span>Employers' obligations on-site</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          
          <a class="item item-icon-right" ng-click="goFwd('union-obligations')">
            <span>Union officials' obligations on-site</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('powers')">
            <span>Union officials' powers on-site</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('safety-walks')">
            <span>Safety walks</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('shut-down')">
            <span>Who can shut-down a site?</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-icon-right" ng-click="goFwd('recording')">
            <span>Recording union officials' behaviour</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

      </ion-list>

    </ion-content>
  </ion-view>
