<ion-view title="Before Entry"  left-buttons="leftButtons" ng-class="{'has-subfooter':showAudio}">
   <ion-content class="xhas-subheader" >

    <!--ion-nav-buttons>
        <div ng-if="!hideHomeBtn">
            <button ui-sref="visits" class="button button-icon icon ion-ios-arrow-back left">save</button>
        </div>
    </ion-nav-buttons-->

    <h2>Ask Question</h2>
        <h3>"Why are you here?"</h3>
    
    <h2>Record Response</h2>
    <div class="list">
      <a class="item item-divider">Safety</a>
      <a class="item item-icon-right" ng-click="setWhy('safety.breach')">
        Suspected Breach
        <i class="icon ion-ios-arrow-right"></i>
      </a>
     <a class="item item-icon-right" ng-click="setWhy('safety.general')">
        Worker Discussions
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ng-click="setWhy('safety.records')">
        Inspect Employee Records
        <i class="icon ion-ios-arrow-right"></i>
      </a>
<!--       <a class="item item-icon-right" ng-click="setWhy('safety.hsr')">
        Assist a Health and Safety Rep (HSR)
        <i class="icon ion-ios-arrow-right"></i>
      </a> -->
       <a class="item item-divider">Industrial Relations</a>
       <a class="item item-icon-right" ng-click="setWhy('fair-work.breach')">
        Suspected Breach
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ng-click="setWhy('fair-work.general')">
        Worker Discussions
        <i class="icon ion-ios-arrow-right"></i>
      </a>
       <a class="item item-divider">Other</a>
      <a class="item item-icon-right" ng-click="setWhy('no-reason')">
        None of the above
        <i class="icon ion-ios-arrow-right"></i>
      </a>


    </div>

   </ion-content>
 </ion-view>
