<ion-view title="Save Record" ng-class="{'has-subfooter':showAudio}" id="visit">



  <ion-content >
    
  <h2>Record</h2>

    <div class="list">
      <form>
        <label class="item item-input">
          <input type="text" placeholder="Description (optional)"  ng-model="visit.desc">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Name of union official(s)"  ng-model="visit.names">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location" ng-model="visit.location">
        </label>
        <label class="item item-input">
          <input type="datetime-local" placeholder="Date" ng-model="date">
        </label>
      </form>
      
    </div>


    <button ng-click="setAllowed()" class="button button-block button-balanced">Entry Allowed</button>

    <button ng-click="setDenied()" class="button button-block button-assertive">Entry Denied</button>
    <button ng-click="setUnsure()" class="button button-block button-dark">Not Sure Yet</button>

    <!--script type="text/javascript">
    
      $(function(){
        $.('textarea').focus();
      });
    </script-->


   </ion-content>
 </ion-view>
