<ion-view title="Allow Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>Once investigation complete</h2>


    <h3>"Escort the union official to the sign out register and off-site"</h3>


    <h2>Once complete:</h2>

    <ul class="list">

      <li class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Once a union official has completed their investigation they are no longer entitled to remain on-site
      </li>



    </ul>

    <button ng-click="setSignedOut(true)" class="button button-block button-balanced">Official escorted off-site</button>

    <button ng-click="setSignedOut(false)" class="button button-block button-dark">Official refuses to leave</button>



   </ion-content>

 </ion-view>
