<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>
 
    <h2>Question</h2>
    <h3>"Is it a work break?"</h3>

    <h2>Tips</h2>

    <div class="list">

      <div class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
        Union officials may only enter to hold discussions with employees about IR issues during prescribed breaks (e.g. lunch or crib breaks)
      </div>

      
    </div>

    <button ng-click="setBreaks(true)" class="button button-block button-balanced">Yes, it's a break</button>

    <button ng-click="setBreaks(false)" class="button button-block button-dark">Inappropriate time</button>

    <!-- 

        DENY SCREEN

        Union officials cannot enter to hold discussions with employees about IR issues unless it is a work break. call the police...
     -->

   </ion-content>
 </ion-view>
