<ion-view title="Allow Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>

    <h2>Allow Entry to Site</h2>


    <h3>"Thanks guys, welcome!"</h3>


    <h2>While on-site</h2>

    <ul class="list">
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>Escort permit holders along a safe route through the site</li>
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>Ensure that permit holders adhere to Site Safety Management Plan</li>
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>Permit holders that do not follow reasonable safety directions must leave the site</li>
      <li class="item item-text-wrap tip item-icon-left"><i class="icon ion-alert"></i>Record details of any alleged safety breaches</li>
    </ul>

    <button ng-click="save()" class="button button-block button-balanced">Ok, all done!</button>


   </ion-content>
 </ion-view>
