<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" xhas-subheader>

 
    <h2>Check</h2>
    <h3>Did you receive 24 hours' written notice prior to entry?</h3>

    <h2>Tips</h2>


    <div class="list">

      <a class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('notice-content-ir')">
        <i class="icon ion-alert"></i>
        The notice must be in writing and in the prescribed form
        <i class="icon ion-chevron-right"></i>
      </a>
 

    </div>

    <button ng-click="set24hrNoticeSupplied(true)" class="button button-block button-balanced">Notice provided</button>

    <button ng-click="set24hrNoticeSupplied(false)" class="button button-block button-dark">Nope, no notice given</button>

   </ion-content>
 </ion-view>
