<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="xhas-subheader" >

    <h2>Allow Entry</h2>
    <h3>"Please sign-in"</h3>

    <h2>Tips</h2>
    <ul class="list ">

      <li class="item item-icon-left item-text-wrap item-icon-right" ng-click="launchInfo('advice')">
         <i class="icon ion-alert"></i>
         If there is an unreasonable number of union officials, call WorkSafe ACT
         <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item item-icon-left item-text-wrap">
         Escort a reasonable number of union officials to the site shed for induction / sign-in
         <i class="icon ion-alert"></i>
      </li>
    </ul>


    <button ng-click="setSignedIn(true)" class="button button-block button-balanced">Signed-in</button>


    <button ng-click="setSignedIn(false)" class="button button-block button-dark">Did not sign-in</button>

    
  </ion-content>
 </ion-view>
