<ion-view title="Before Entry"  ng-class="{'has-subfooter':showAudio}" >
  <ion-content class="xhas-subheader" xhas-subheader>


    <h2>Check</h2>
    <h3>Did you receive 24 hours' notice?</h3>


    <h2>Tips</h2>

    <div class="list">

      <div class="item item-text-wrap tip item-icon-left">
        <i class="icon ion-alert"></i>
         The notice should be in writing
      </div>
      
      <div class="item item-text-wrap tip item-icon-left item-icon-right" ng-click="launchInfo('notice-content-safety-discussions')">
        <i class="icon ion-alert"></i>
         The notice must contain prescribed content
         <i class="icon ion-chevron-right"></i>
      </div>
      
    </div>


    <button ng-click="set24hrNoticeSupplied(true)" class="button button-block button-balanced">Notice provided</button>

    <button ng-click="set24hrNoticeSupplied(false)" class="button button-block button-dark">Notice not provided</button>




   </ion-content>
 </ion-view>
