
 <ion-view title="Advice">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h2>For more information</h2>

    <ion-list id="visit-list">
      <div class="item item-divider">
        You can call:
      </div>

      <a class="item item-icon-right" href="tel://1800 003 338">
        <span>Fair Work Building &amp; Construction </span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-right" href="tel://(02) 6207 3000">
        <span>WorkSafe ACT</span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-right" href="tel://131 444">
        <span>ACT Police</span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>


      <a class="item item-icon-right" href="tel://000">
        <span>Emergency (000)</span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-right" href="tel://(02) 6280 9119">
        <span>Master Builders ACT</span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-right" href="tel://(02) 6279 4444">
        <span>Meyer Vandenberg Lawyers</span>
        <i class="icon ion-ios-telephone-outline"></i>
      </a>





       <div class="item item-divider">
        More information online:
      </div>

      

      <a class="item item-icon-right" onclick="window.open('http://www.fwbc.gov.au/right-of-entry', '_system')">
        <span>Fair Work Building &amp; Construction </span>
        <i class="icon ion-earth"></i>
      </a>

      <a class="item item-icon-right" onclick="window.open('http://www.worksafe.act.gov.au', '_system')">
        <span>WorkSafe ACT</span>
        <i class="icon ion-earth"></i>
      </a>

      <a class="item item-icon-right" onclick="window.open('http://www.mba.org.au', '_system')">
        <span>Master Builders ACT </span>
        <i class="icon ion-earth"></i>
      </a>


      <a class="item item-icon-right" onclick="window.open('http://www.meyervandenberg.com.au', '_system')">
        <span>Meyer Vandenberg Lawyers</span>
        <i class="icon ion-earth"></i>
      </a>




      
    </ion-list>

  </ion-content>
</ion-view>
