
 <ion-view title="Assist HSR">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>To assist a HSR</h3>

    <ion-list id="visit-list">
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
        Where a union official enters to assist a Health and Safety Rep, they can enter at any time during working hours  
      </a>
    </ion-list>



  </ion-content>
</ion-view>
