
 <ion-view title="IR Breach">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>  

   <ion-content class="has-header" id="visit" padding="false">

    <h3>
      The entry notice must be in writing be in the following prescribed form:
    </h3>

    <div class="info">
      <img src="img/fw-notice.png" />
    </div>

    <div class="list">
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-alert"></i>
        Remember that the entry notice must be provided at least 24 hours before entry
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-alert"></i>
        If a notice is not provided or is not in the above prescribed form, entry may be refused
      </div>

    </div>

    </ion-content>
  </ion-view>

