
 <ion-view title="Content">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Prescribed content of notice</h3>

    <ion-list id="visit-list">
      <div class="item item-divider" >
        Safety:
      </div>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-safety')">
        Safety breach
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-records')">
        Employee records
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-safety-discussions')">
        Worker discussions
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-worksafe-template')">
        WorkSafe ACT template entry notice
        <i class="icon ion-chevron-right"></i>
      </a>

       <div class="item item-divider">
        Industrial relations:
      </div>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-ir')">
        Suspected breach
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" ng-click="goFwd('notice-content-ir-discussions')">
        Worker discussions
        <i class="icon ion-chevron-right"></i>
      </a>
    </ion-list>

  </ion-content>
</ion-view>
