
 <ion-view title="Employers">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Employers' obligations on-site</h3>

    <ion-list id="visit-list">
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
		    Employers must not refuse or unduly delay the entry of a union official, where they have a right to enter; or
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
		    Employers must not unreasonably hinder or obstruct a union official exercising any of their rights of entry 
      </a>
      <a class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert"></i>
		    If employers fail to comply with these requirements, they can be fined up to $51,000
      </a>
    </ion-list>

  </ion-content>
</ion-view>
