
 <ion-view title="Advice">
   
    

      <ion-nav-buttons side="left">

      <!-- <button class="button button-icon icon ion-ios-information-outline"  ui-sref="info"> </button> -->
        <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="back()"> Back</button>

      </ion-nav-buttons>   
      

   <ion-content class="has-header" id="visit" padding="false">

<h2>Note regarding safety walks</h2>


      <ion-list id="visit-list">

     
          <a class="item item-icon-left item-text-wrap" >
            <span>
              A union permit holder is not entitled to conduct a general site safety ‘walk’
            </span>
            <i class="icon ion-alert"></i>
          </a>

          <a class="item item-icon-left item-text-wrap" >
            <span>
              That is because a union permit holder can only exercise investigatory powers in relation to the safety breach they suspected prior to entry 
            </span>
            <i class="icon ion-alert"></i>
          </a>


          <a class="item item-icon-left item-text-wrap" >
            <span>
              If a union permit holder were to conduct a general site safety walk (i.e. a ‘fishing expedition’) they would investigate potential breaches that they could not have suspected prior to entry, which would be beyond their powers under the WHS Act.
            </span>
            <i class="icon ion-alert"></i>
          </a>

          <a class="item item-icon-left item-text-wrap" >
            <span>
              If a union permit holder notices a potential safety breach while investigating the notified safety breach (i.e. that was suspected prior to entry) then it may be prudent to allow the union permit holder to investigate that additional matter, as otherwise the PCBU could held to be hindering and obstructing the union permit holder in breach of the WHS Act.
            </span>
            <i class="icon ion-alert"></i>
          </a>

          <a class="item item-icon-left item-text-wrap" >
            <span>
              However, if a ‘string’ of alleged safety breaches is identified such that the union permit holder appears to be intentionally disrupting work, then the union permit holder could be in breach of their obligations under the WHS Act and the PCBU should call WorkSafe ACT to mediate.
            </span>
            <i class="icon ion-alert"></i>
          </a>


      </ion-list>

    </ion-content>
  </ion-view>
