
 <ion-view title="Advice">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon info ion-ios-arrow-left left" ng-click="goBack()"> Back</button>
  </ion-nav-buttons>   

  <ion-content class="has-header" id="visit" padding="false">

    <h3>Who can shut down a site? </h3>


    <ion-list id="visit-list">

      <a class="item item-icon-left item-text-wrap" >
        <i class="icon ion-alert"></i>
        A union official cannot ‘shut-down’ a site
      </a>

      <a class="item item-icon-left item-text-wrap" >
        <i class="icon ion-alert"></i>
        Only WorkSafe ACT can order that work must stop, via prohibition notices (WorkSafe ACT inspectors have much broader powers than union officials)
      </a>

      <a class="item item-icon-left item-text-wrap" >
        <i class="icon ion-alert"></i>
        Union officials can only warn a person to stop work where they reasonably believe them to be exposed to an imminent and serious safety risk 
      </a>

      <a class="item item-icon-left item-text-wrap" >
        <i class="icon ion-alert"></i>
        If a union official attempts to shut-down a site, they would be in breach of their obligation not to intentionally disrupt work and WorkSafe ACT and / or Fair Work Building and Construction should be called immediately
      </a>

    </ion-list>
  </ion-content>
</ion-view>
