<ion-view title="25th March 2014"  ng-class="{'has-subfooter':showAudio}">
  <ion-content class="has-header" xhas-subheader>

     <ion-nav-buttons side="left">
       <button side="left" class="button  button-icon icon ion-ios-arrow-back left"  ui-sref="visits">done</button>
     </ion-nav-buttons>



    <div class="list list-inset">
      <div class="item item-divider">
        <h2> Visit Details</h2>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Description (optional)" value="Safety breach on-site" ng-model="desc">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="location">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Date" ng-model="date">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments" ng-model="comments"></textarea>
      </label>

<div class="item item-divider">
  <h2>Permits</h2>
</div>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="yes">
         </label>
         Fair Work Act Entry Permit <em>valid</em>
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="yes">
         </label>
         Fair Work Act Entry Permit <em>current</em>
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="yes">
         </label>
         WHS Act Entry Permit <em>valid<em>
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="yes">
         </label>
         WHS Act Entry Permit <em>current<em>
      </li>


      <div class="item item-divider">
        <h2>Did they identify a suspected safety breach?</h2>
      </div>

        <ion-checkbox ng-model="yes" checked="true">potential breach identified</ion-checkbox>

    <label class="item item-input">
      <textarea placeholder="Comments" ng-model="comments"></textarea>
    </label>



      <div class="item item-divider">
        <h2>Was written notice of a safety breach supplied upon entry?</h2>
      </div>

        <ion-checkbox ng-model="yes" checked="true">notice supplied</ion-checkbox>





      <div class="item item-divider">
        <h2>Recorded Comments</h2>
      </div>


      <label class="item item-input">
        <input type="text" placeholder="Description (optional)" ng-model="desc">
      </label>
    </div>


 </ion-content>
</ion-view>
