body {
  font-family: 'Avenir Next Condensed', 'Helvetica Neue', Helvetica, sans-serif; }

button.audio.button-balanced {
  opacity: 0.5; }
  button.audio.button-balanced.enabled {
    opacity: 1; }

#logos {
  position: absolute;
  top: 100px;
  width: 100%; }
  #logos .logo {
    width: 100%;
    height: auto;
    opacity: 0.3;
    margin-top: -10px; }

.popup .popup-title {
  color: #f52c50;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600; }
.popup .popup-buttons button {
  background-color: #f52c50;
  font-weight: 500; }
  .popup .popup-buttons button.activated {
    background-color: #ff4064; }

/******* info pages ******/
div.info {
  background: rgba(255, 255, 255, 0.35);
  padding: 30px 0; }
  div.info p {
    padding: 0 30px;
    font-size: 15px;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 18px; }
  div.info img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px; }

/*****   resets  *******/
.item-content {
  background-color: #ece3da !important; }

.bar, .pane {
  background-color: rgba(255, 255, 255, 0) !important; }

.bar .buttons-left .info {
  text-align: left; }

.item {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #444 !important; }
  .item.item-divider {
    background-color: rgba(0, 0, 0, 0.1) !important; }

.nav-bar-container {
  background: none; }

.pane {
  background-image: linear-gradient(165deg, #dacabb 0%, #efe5d9 100%) !important; }

.has-footer .scroll-content {
  bottom: 44px !important; }

.bar-header .title {
  color: #a69184;
  font-size: 21px;
  font-weight: 600; }
.bar-header .button {
  color: #0086e3; }

.checkbox input::before, .checkbox .checkbox-icon::before {
  border-color: #0086e3; }

/****** content pages **********/
#visit.summary h2 {
  margin-top: 30px; }
#visit.summary pre {
  font-size: 16px; }
#visit h2 {
  width: 100%;
  padding: 0 20px;
  font-size: 21px;
  font-weight: 400;
  color: #a69184;
  margin: 20px 0 5px 0; }
#visit h3 {
  width: 100%;
  margin: 5px 0px 20px 0px;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  padding: 10px 20px;
  background-color: #0086e3;
  color: #ede2d6;
  line-height: 34px;
  vertical-align: middle; }
  #visit h3.danger {
    background-color: #f52c50; }
  #visit h3.dark {
    background-color: #223140; }
#visit .item {
  font-size: 18px;
  padding-left: 20px; }
  #visit .item.item-checkbox {
    padding-left: 60px; }
  #visit .item.item-thumbnail-left {
    padding-top: 8px;
    padding-left: 106px;
    min-height: 100px; }
  #visit .item.item-icon-left {
    padding-left: 54px; }
    #visit .item.item-icon-left i {
      color: #a69184;
      opacity: 0.3; }
#visit .list {
  margin-top: 10px; }
#visit .button.button-block {
  margin: 20px auto;
  display: block;
  width: 280px; }
#visit .scroll-content {
  bottom: 44px !important; }
#visit .has-subfooter .scroll-content {
  bottom: 88px !important; }

/******* notes modal  ***********/
textarea#notes {
  padding: 20px;
  height: 210px;
  margin: 0px !important;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px;
  color: #223140; }

#visit button#notes-button {
  margin: 10px auto; }

/******** content screens  ***********/
#visit-list .right {
  float: right;
  display: inline-block; }
#visit-list h2 {
  font-weight: 500;
  font-size: 15px;
  color: #223140;
  display: inline-block; }
#visit-list h3 {
  font-weight: 400;
  font-size: 15px;
  color: #a69184;
  display: inline-block; }
#visit-list .date {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 300; }
#visit-list .status {
  width: 55px;
  border-radius: 3px;
  padding: 0 6px;
  color: #ede2d6;
  font-size: 9px;
  font-weight: 400; }
  #visit-list .status span {
    text-transform: uppercase;
    float: right; }
  #visit-list .status.allowed {
    background-color: #0086e3; }
    #visit-list .status.allowed span.allowed {
      display: inline-block; }
    #visit-list .status.allowed span.disallowed {
      display: none; }
    #visit-list .status.allowed span.unsure {
      display: none; }
  #visit-list .status.disallowed {
    background-color: #f52c50; }
    #visit-list .status.disallowed span.allowed {
      display: none; }
    #visit-list .status.disallowed span.disallowed {
      display: inline-block; }
    #visit-list .status.disallowed span.unsure {
      display: none; }
  #visit-list .status.unsure {
    background-color: #223140; }
    #visit-list .status.unsure span.allowed {
      display: none; }
    #visit-list .status.unsure span.disallowed {
      display: none; }
    #visit-list .status.unsure span.unsure {
      display: inline-block; }
#visit-list .item-content {
  padding: 16px !important; }

ul.bullets {
  list-style: disc;
  padding-left: 30px; }

ul.bullets li {
  margin-bottom: 5px; }

.center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.item p {
  font-size: 16px; }

.theme .filename, .theme .timer {
  line-height: 40px; }
.theme.platform-ios7 #status-bg {
  height: 20px;
  width: 100%;
  background: #223140;
  z-index: 100;
  position: absolute; }
.theme .has-footer .scroll {
  padding-bottom: 45px; }
.theme .bar {
  padding: 0px !important; }
  .theme .bar div {
    padding: 0px !important;
    xborder: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box !important; }
  .theme .bar .right-buttons {
    right: 0px;
    top: 0px;
    bottom: 0px; }
  .theme .bar .button-full {
    margin: 0px; }
  .theme .bar .left {
    text-align: left;
    padding-right: 0px; }
  .theme .bar .right {
    text-align: right;
    padding-left: 0px; }
  .theme .bar.bar-header button {
    width: 80px;
    font-weight: 500; }
  .theme .bar.bar-subheader {
    border-top: 1px solid rgba(166, 145, 132, 0.2); }
  .theme .bar.bar-footer, .theme .bar.bar-subfooter {
    border-top: 1px solid rgba(166, 145, 132, 0.2);
    border-bottom: 0px solid transparent; }
    .theme .bar.bar-footer button, .theme .bar.bar-subfooter button {
      width: 100%; }
.theme button, .theme a.button {
  border-width: 0px !important;
  xborder-right: 1px solid #fff !important;
  height: 42px;
  line-height: 42px;
  opacity: 1; }
  .theme button.disabled, .theme a.button.disabled {
    opacity: 0.2; }
  .theme button.no-border, .theme a.button.no-border {
    border: none !important; }
  .theme button.border-left, .theme a.button.border-left {
    xborder-left: 1px solid #fff !important;
    border-right-width: 0px !important; }

/*# sourceMappingURL=roi.app.css.map */
